.projetos {

text-align: left;
  font-family: "Open Sans", sans-serif;
  position: relative;
  font-size: 150px;
  left: 150px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  resize: none;
  overflow: hidden;
  flex-shrink: 0;
  font-weight: bold;
}

.description {
    padding-top: 10px;
font-size: 15px;
color: rgb(171, 168, 173);
}

.description2 {
    align-items: middle;
    padding-top: 10px;
font-size: 15px;
color: rgb(171, 168, 173);
}

.description3 {
    align-items: middle;
    padding-top: 10px;
font-size: 18px;
font-weight: bold;
color: rgb(254, 237, 107);
}